body
{
    background-image: url(img/fondo.jpg);
}

.ej1
{
    border-style: solid;
    border-color: crimson;
    border-radius: 5px;
    border-width: 2px;
}

.ej2
{
    border-style: solid;
    border-color: skyblue;
    border-radius: 5px;
    border-width: 2px;
}

.ej3
{
    border-style: solid;
    border-color: limegreen;
    border-radius: 5px;
    border-width: 2px;
}

.ej4
{
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2px;
}

.ej5
{
    border-style: solid;
    border-color: blanchedalmond;
    border-radius: 5px;
    border-width: 2px;
}

.ej6
{
    border-style: solid;
    border-color: springgreen;
    border-radius: 5px;
    border-width: 2px;
}

.ej7
{
    border-style: solid;
    border-color: gold;
    border-radius: 5px;
    border-width: 2px;
}

.ej8
{
    border-style: solid;
    border-color: lightpink;
    border-radius: 5px;
    border-width: 2px;
}

.ej9
{
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    border-width: 2px;
}

.ej10
{
    border-style: solid;
    border-color: sandybrown;
    border-radius: 5px;
    border-width: 2px;
}

.arrays
{
    margin: 5px;
    width: 250px;
    border-style: solid;
    border-color:darkorchid;
    border-width: 1px;
}

.arrayLetras
{
    margin: 5px;
    border-style: solid;
    border-color:chocolate;
    border-width: 1px;
    border-radius: 10px;
}

.parrafo
{
    border-style: solid;
    margin: 10px;
    width: 175px;
    height: 30px;
    margin: 5px;
}