.ej1
{
    border-style: solid;
    border-color: crimson;
    border-radius: 5px;
    border-width: 2px;
}

.ej2
{
    border-style: solid;
    border-color: skyblue;
    border-radius: 5px;
    border-width: 2px;
}

.ej3
{
    border-style: solid;
    border-color: limegreen;
    border-radius: 5px;
    border-width: 2px;
}

.ej4
{
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2px;
}

.ej5
{
    border-style: solid;
    border-color: blanchedalmond;
    border-radius: 5px;
    border-width: 2px;
}


.arrays
{
    margin: 5px;
    width: 250px;
    border-style: solid;
    border-color:darkorchid;
    border-width: 1px;
}

.arrayLetras
{
    margin: 5px;
    border-style: solid;
    border-color:chocolate;
    border-width: 1px;
    border-radius: 10px;
}